<html>
    <head>
        <title>BMS</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    	<script src = "https://code.jquery.com/jquery-3.4.1.js"></script>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
        <style>
        body{
           background-color: #7fcec5;
background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
        }
          table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td{
  border: 1px solid #dddddd;
  padding: 12px;
}
th {
  border: 1px solid #dddddd;
  
  padding: 14px;
background:#ffffff;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
          
        </style>
    </head>
    <body>
             
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
           <a class="navbar-brand" href="/home"><strong>Book Management System</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/addbook">Add Book<span class="sr-only">(current)</span></a>
      </li>
	 
	 <li class="nav-item">
        <a class="nav-link" href="/mybooks">My Books</a>
      </li>
      
    <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">Admin Dashboard</a>
      </li>

	  
    </ul>
	
	<% if(!currentUser){ %>
            <a class="btn btn-primary" href="/login" role="button">Login</a>
            <%} else{ %>
            <a href="#"  style="color:#ffffff;margin-right:18px"> <%= currentUser.name %></a>
            <a class="btn btn-info" href="/logout" role="button">Logout</a>
            
            <% } %>
	
  </div>

        </div>
 </nav>
 
 <% if(error.length>0){%>
<div class="alert alert-danger container" style="margin-top:0px;"><%=error%></div>
<% }if(success.length>0){%>
<div class="alert alert-success container" style="margin-top:0px;"><%=success%></div>
<% } %> 
 
<% if(allbooks.length) { %>

<div style="overflow-x:auto;">
<table style="margin:10%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-top:2%;margin-bottom:15%;margin-top:8%">
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Published</th>
    <th>Description</th>
    <th style="width:15%">Operations</th>
  </tr>
  
  <% allbooks.forEach(function(b){ %>
  <tr>
    <td><%= b.name %></td>
    <td><%= b.author %></td>
    <td><%= b.published %></td>
    <td><%= b.description %></td>
    <td>
      <form action="/updatebook/<%= b._id %>?_method=DELETE" method="POST">
        <button  class="btn btn-danger" >Delete</button>
    </form>
    <form action="/updatebook/<%= b._id %>" method="GET">
        <button  class="btn btn-info" >Edit</button></td>
    
    </form>
    
  </tr>
  <% })%>
  
</table>
</div>

<% }else{ %>
  <h3 style="margin:20%;margin-left:30%;color:#ffffff"><strong>No Books to Display, Please Add books to View Here</strong></h3>
<% } %>

<footer class="page-footer font-small pt-4" style="background:#343a40;margin-top:80px">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase text-light" style="margin-left:2%"> Book Management System</h5>
        
        <br>
		
		 <a href="#" style="color:#ffffff;font-size:18px;margin-left:2%"><i class="fas fa-envelope fa-sm"></i> bms@gmail.com </a>
		 <br>
		 
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3 col-lg-3" style="margin-top:1em">


        <ul class="list-unstyled">
             <li style="margin-bottom:10px">
            <a href="/home" style="color:#ffffff;"><b>Home</b></a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/addbook" style="color:#ffffff;"><b>Add Book</b></a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/mybooks" style="color:#ffffff;"><b>My Books</b></a>
          </li>
          </li>
        </ul>

      </div>
      <div class="col-md-3 mb-md-0 mb-3 col-lg-3" style="margin-top:1em">

        <ul class="list-unstyled">
          <li style="margin-bottom:10px">
            <a href="/" style="color:#ffffff;"><b>Login In</b></a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/signup" style="color:#ffffff;"><b>Sign Up</b></a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/admin/dashboard" style="color:#ffffff;"><b>Admin Dashboard</b></a>
          </li>
        </ul>

      </div>
    </div>

  </div>

</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript">
$(document).ready(function() {
    // show the alert
    setTimeout(function() {
        $(".alert").alert('close');
    }, 3000);
});
    </script>
    </body>
</html>