<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        
        <title>
            Book Management System
        </title>
        <style>
        body{
        background-color: #f6f6f6;
background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
        }
    
    

.crd:hover{
  transform: translate3D(0,-1px,0) scale(1.03);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .4s ease
}
.crd{
  
box-shadow: 10px 5px 5px lightgrey;
height:100%;

}

.background-img1{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://pen.org/wp-content/uploads/2019/02/pen_readinglist_april2-e1549658786674.jpg);
  background-size: cover;
  height: 60vh;
}
.title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

        </style>
    </head>
    <body>
        
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
           <a class="navbar-brand" href="/home"><strong>Book Management System</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/addbook">Add Book<span class="sr-only">(current)</span></a>
      </li>
	 
	 <li class="nav-item">
        <a class="nav-link" href="/mybooks">My Books</a>
      </li>
      
    <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">Admin Dashboard</a>
      </li>

	  
    </ul>
	
	<% if(!currentUser){ %>
            <a class="btn btn-primary" href="/login" role="button">Login</a>
            <%} else{ %>
            <a href="#"  style="color:#ffffff;margin-right:18px"> <%= currentUser.name %></a>
            <a class="btn btn-info" href="/logout" role="button">Logout</a>
            
            <% } %>
	
  </div>

        </div>
 </nav>
 
  <% if(error.length>0){%>
<div class="alert alert-danger container" style="margin-top:0px;"><%=error%></div>
<% }if(success.length>0){%>
<div class="alert alert-success container" style="margin-top:0px;"><%=success%></div>
<% } %> 


<div class="background-img1">
  <div class="title">
    <h1>Book Management System</h1>
    <p>Scroll Down to View Books Available!</p>
  </div>
</div>

  
      <div class="container" >
        <div class="row"> 
        
        <% all.forEach(function(al){ %>
         <div class="col col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3 crd "  style="margin:1.5em;padding:0px;">
           
        <a href="/seeBookDetails/<%= al._id %>" style="text-decoration:None;color:#000000">
             <div class="card" style="border-radius:2px">
                <img src="<%= al.bookImage %>" class="card-img-top">
                  <div class="card-body">
                    <h6 class="card-title" style="text-align: center;"><%= al.name %>
                    </h6>
                    <h6 class="card-title" style="text-align: center;">Rs. <%= al.price %>
                    </h6>
                    
                    </span>
              <hr>
                  <p class="card-text" style="overflow-wrap: break-word;-webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; overflow: hidden; text-overflow: ellipsis; white-space: normal;"><%= al.description %></p>
                 <h6 style="opacity:0.8">Published on: <%= al.published %></h6>
                 <h6 style="opacity:0.8">By: <%= al.author %></h6>
               </div>
          </div>
          </a>
          </div>
          
          <% }) %>
          
        <div class="col col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3 crd "  style="margin:1.5em;padding:0px">
             <div class="card" style="border-radius:2px">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="card-img-top">
                  <div class="card-body">
                    <h6 class="card-title" style="text-align: left;">Card title
                    <span style="float: right;">Price</h6>
                    </span>
              <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <h6 style="opacity:0.8">By: Chetan Bhagat</h6>
               </div>
          </div>
          
          </div>
           <div class="col col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3 crd "  style="margin:1.5em;padding:0px">
             <div class="card" style="border-radius:2px">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="card-img-top">
                  <div class="card-body">
                    <h6 class="card-title" style="text-align: left;">Card title
                    <span style="float: right;">Price</h6>
                    </span>
              <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <h6 style="opacity:0.8">By: Chetan Bhagat</h6>
               </div>
          </div>
          
          </div>
          
          <div class="col col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3 crd "  style="margin:1.5em;padding:0px">
             <div class="card" style="border-radius:2px">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="card-img-top">
                  <div class="card-body">
                    <h6 class="card-title" style="text-align: left;">Card title
                    <span style="float: right;">Price</h6>
                    </span>
              <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <h6 style="opacity:0.8">By: Chetan Bhagat</h6>
               </div>
          </div>
          
          </div>
          
          <div class="col col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3 crd "  style="margin:1.5em;padding:0px">
             <div class="card" style="border-radius:2px">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="card-img-top">
                  <div class="card-body">
                    <h6 class="card-title" style="text-align: left;">Card title
                    <span style="float: right;">Price</h6>
                    </span>
              <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <h6 style="opacity:0.8">By: Chetan Bhagat</h6>
               </div>
          </div>
          
          </div>
          
          <div class="col col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3 crd "  style="margin:1.5em;padding:0px">
             <div class="card" style="border-radius:2px">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="card-img-top">
                  <div class="card-body">
                    <h6 class="card-title" style="text-align: left;">Card title
                    <span style="float: right;">Price</h6>
                    </span>
              <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <h6 style="opacity:0.8">By: Chetan Bhagat</h6>
               </div>
          </div>
          
          </div>
          
          <div class="col col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3 crd "  style="margin:1.5em;padding:0px">
             <div class="card" style="border-radius:2px">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="card-img-top">
                  <div class="card-body">
                    <h6 class="card-title" style="text-align: left;">Card title
                    <span style="float: right;">Price</h6>
                    </span>
              <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <h6 style="opacity:0.8">By: Chetan Bhagat</h6>
               </div>
          </div>
          
          </div>
          
          
          <div class="col col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3 crd "  style="margin:1.5em;padding:0px">
             <div class="card" style="border-radius:2px">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="card-img-top">
                  <div class="card-body">
                    <h6 class="card-title" style="text-align: left;">Card title
                    <span style="float: right;">Price</h6>
                    </span>
              <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <h6 style="opacity:0.8">By: Chetan Bhagat</h6>
               </div>
          </div>
          
          </div>
          
          
          <div class="col col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3 crd "  style="margin:1.5em;padding:0px">
             <div class="card" style="border-radius:2px">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="card-img-top">
                  <div class="card-body">
                    <h6 class="card-title" style="text-align: left;">Card title
                    <span style="float: right;">Price</h6>
                    </span>
              <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <h6 style="opacity:0.8">By: Chetan Bhagat</h6>
               </div>
          </div>
          
          </div>
          
          <div class="col col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3 crd "  style="margin:1.5em;padding:0px">
             <div class="card" style="border-radius:2px">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="card-img-top">
                  <div class="card-body">
                    <h6 class="card-title" style="text-align: left;">Card title
                    <span style="float: right;">Price</h6>
                    </span>
              <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <h6 style="opacity:0.8">By: Chetan Bhagat</h6>
               </div>
          </div>
          
          </div>
      </div>
      </div>
      
     
<footer class="page-footer font-small pt-4" style="background:#343a40;margin-top:180px">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase text-light" style="margin-left:2%"> Book Management System</h5>
        
        <br>
		
		 <a href="#" style="color:#ffffff;font-size:18px;margin-left:2%"><i class="fas fa-envelope fa-sm"></i> bms@gmail.com </a>
		 <br>
		

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3 col-lg-3" style="margin-top:1em">


        <ul class="list-unstyled">
             <li style="margin-bottom:10px">
            <a href="/home" style="color:#ffffff;"><b>Home</b></a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/addbook" style="color:#ffffff;"><b>Add Book</b></a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/mybooks" style="color:#ffffff;"><b>My Books</b></a>
          </li>
          </li>
        </ul>

      </div>
      <div class="col-md-3 mb-md-0 mb-3 col-lg-3" style="margin-top:1em">

        <ul class="list-unstyled">
          <li style="margin-bottom:10px">
            <a href="/" style="color:#ffffff;"><b>Login In</b></a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/signup" style="color:#ffffff;"><b>Sign Up</b></a>
          </li>
          <li style="margin-bottom:10px">
            <a href="/admin/dashboard" style="color:#ffffff;"><b>Admin Dashboard</b></a>
          </li>
        </ul>

      </div>
    </div>

  </div>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript">
$(document).ready(function() {
    // show the alert
    setTimeout(function() {
        $(".alert").alert('close');
    }, 3000);
});
    </script>
    
    </body>